<launch>

    <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />
    <arg name="max_x" default="4.0"/>

    <!-- <arg name="min_x" default="-4.0"/>
    <arg name="max_y" default="4.0"/>
    <arg name="min_y" default="-4.0"/>
    <arg name="max_z" default="4.0"/>
    <arg name="min_z" default="-4.0"/> -->

    <arg name="min_x" default="-$(arg max_x)"/>
    <arg name="max_y" default="$(arg max_x)"/>
    <arg name="min_y" default="-$(arg max_y)"/>
    <arg name="max_z" default="$(arg max_x)"/>
    <arg name="min_z" default="-$(arg max_z)"/>

    <!-- Run a CropBox filter -->
    <node pkg="nodelet" type="nodelet" name="cropbox" args="load pcl/CropBox /pcl_manager" output="screen">
      <remap from="~input" to="/points" />
      <param name="min_x" value="$(arg min_x)"/>
      <param name="max_x"  value="$(arg max_x)"/>
      <param name="min_y" value="$(arg min_y)"/>
      <param name="max_y"  value="$(arg max_y)"/>
      <param name="min_z" value="$(arg min_z)"/>
      <param name="max_z"  value="$(arg max_z)"/>
    </node>

</launch>