<launch>

    <!-- <arg name="project" default="lio_sam"/> -->
    
    
    <!-- <include file="$(find thesis)/launch/odom_to_map.launch" /> -->
    <!-- Parameters -->


    <rosparam file="$(find thesis)/config/liosam/params.yaml" command="load" />
    <group>
        <remap from="/tf" to="/tf_dev_null1" />

        <!--- LOAM -->
        <include file="$(find lio_sam)/launch/include/module_loam.launch" />

        <!--- Robot State TF -->
        <!-- <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" /> -->

        <!--- Run Navsat -->
        <include file="$(find lio_sam)/launch/include/module_navsat.launch" />
    </group>
    <!--- Run Rviz-->
    <include file="$(find lio_sam)/launch/include/module_rviz.launch" />

</launch>
