<launch>
    <node pkg="tf" type="static_transform_publisher" name="ouster_to_t265mount_tf_node" args="0.1025 0.036 -0.07 0 0 0 1 ouster_mount_top camera_mount_frame 100" />
    <node pkg="tf" type="static_transform_publisher" name="t265mount_to_t265_tf_node" args="0.00595 0.0091 0 0 0 0 1  camera_mount_frame camera_pose_frame 100" />
    <node pkg="tf" type="static_transform_publisher" name="camera0_to_camera0_optical_tf_node" args="0 0 0 -0.5 0.5 -0.5 0.5  camera_0 camera_0_optical 100" />
    <node pkg="tf" type="static_transform_publisher" name="standart_lidar_tf" args="0 0 0 0 0 -0.3826834 0.9238795  os_sensor os_sensor_perp 100" />
    <group>
        <remap from="/tf" to="/tf_dev_null"/>
        <rosparam >
            /use_sim_time: true
        </rosparam>
        <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(find thesis)/bags/husky_office.bag"/>
        <node pkg="image_transport" type="republish" name="image_republisher" output="screen" args="compressed in:=/camera_front/image_raw raw out:=/camera_front/image_raw"/>
    </group>

    <include file="$(find thesis)/launch/include/transform_pcl.launch" />
</launch>